extends layout

block content
  h1= title
  p This is the Blog Admin page.  Here you have all the functionality to manage your own blog.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The blog database has the following record counts:

    ul
      li #[strong Blogposts:] !{data.blogpost_count}
      li #[strong Authors:] !{data.author_count}
      li #[strong Tags:] !{data.tag_count}